/* ============================================================== GENERAL ========================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-or {
    background-color: #F72210;
}

.nw-logo-sm {
    width: 28px;
}

.nw-logo-xb {
    height: 90px;
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    line-height: 85px;
    letter-spacing: -5px;
}




/* ============================================================== GENERAL ========================================================================= */

body {
    max-width: 1310px;
}

.lnews-img {
    width: 135px;
}

.newsletter-ad {
    width: 300px;
}

.section-title {
    color: #030303;
    opacity: 0.4;
}

@media screen and (min-width: 1000px) {
    .left-column,
    .center-column,
    .right-column {
    height: 1670px;
    }
}

@media screen and (min-width: 992px) {
    .left-column,
    .center-column,
    .right-column {
    height: 1620px;
    }
}

@media screen and (min-width: 768px) {
    .left-column,
    .center-column,
    .right-column {
    height: 1800px;
    }
}
